.scroll-wrapper {
  padding: 15px 20px;
  background: var(--color-white);
  border-radius: 6px;
  overflow: hidden;
  flex: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 79.9vh;
}

.clear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  font-size: 22px;
  color: var(--color-black);

  button {
    margin-top: 10px;
    display: inline-block;
  }
}
