.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: var(--color-blue-light);
  border-radius: 6px;
  color: var(--color-white);
  font-size: 15px;
  font-weight: 600;
  line-height: 105%;
  padding: 13px 25px;
  transition: 0.5s;

  &:hover {
    background: var(--color-blue-light400);
  }

  svg,
  img {
    margin-left: 10px;
  }
}
