.wrapper {
  position: relative;

  .icon {
    input {
      padding-right: 20px;
    }
  }
}

.icon-wrapper {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.icon-show {
  opacity: 0.8;
}
