:root {
  // colors
  --color-light-gray: #f2f3f7;
  --color-dark-grey: #7e8299;
  --color-gray-stroke: #dbdcdf;
  --color-gray-border: #ebedf3;
  --color-grey-light: #e4e6ef;
  --color-grey-light500: #969ea2;
  --color-grey-300: #dee1eb;
  --color-grey-light200: #f3f6f9;
  --color-grey-light300: #dadfe2;
  --color-grey-light400: #e1e1eb;
  --color-grey-dark: #868686;
  --color-main-orange: #fbde01;
  --color-yellow-light: #fce967;
  --color-main-black: #242424;
  --color-dark-blue100: #1a3045;
  --color-light-black: #3f4254;
  --color-light-black100: #183032;
  --color-blue-light: #3699ff;
  --color-blue-light400: #187de4;
  --color-blue-light500: #4286f3;
  --color-blue-light600: #68b3ff;
  --color-blue-dark: #3b5999;
  --color-red: #e53226;
  --color-red-100: #f64e60;
  --color-red-200: #da1d03;
  --color-red-light: #ffeceb;
  --color-gray-100: #b5b5c3;
  --color-gray-200: #6a6a6a;
  --color-gray-600: #d1d3e0;
  --color-light-blue-100: #0073e9;
  --color-light-blue-200: #e1f0ff;
  --color-white: #fff;
  --color-white-400: #ebedf3;
  --color-text-black: #181c32;
  --color-black: #000;
  --color-black-200: #3f4254;
  --color-aqua: #c9f7f5;
  --color-aqua-100: #1bc5bd;
  --color-green: #4cc5bd;

  // plugins
  --rdp-accent-color: #3699ff !important;
  --rdp-outline-selected: #3699ff !important;
  --rdp-cell-size: 33px !important;

  // fonts
  --font-family-poppins: 'Poppins', sans-serif;
}
