.item {
  padding: 10px;
  flex: 1;
}

.row {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #f9fafb;
}

.heading {
  border-bottom: 1px solid var(--color-gray-200);

  & > * {
    padding: 15px 10px;
  }
}

.link a {
  display: inline-block;
  // stylelint-disable-next-line
  text-overflow: ellipsis;

  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;

  max-width: 200px;
}

.actions {
  max-width: 100px;
  display: flex;
  align-items: center;

  justify-content: flex-end;

  & > *:not(:last-of-type) {
    margin-right: 10px;
  }
}
